.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #374151;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #374151;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Works on most browsers */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}


@keyframes liveBlink {
  0% {
    color: #dc3545;
    transform: scale(1);
  }

  50% {
    color: #ff0000;
    transform: scale(1.15);
  }

  100% {
    color: #dc3545;
    transform: scale(1);
  }
}

.live-blink {
  animation: liveBlink 1.2s infinite ease-in-out;
}